extends registerlayout
block content
    form(action='/registerao' name='agricofficersignup' method='POST')
      .container
        .row.regfrmborderao
          .col-md-12
            h3 Agricultural Officer SignUp
            hr
          .col-md-6
              //- .frmelement
              //-   label(for='role') Role
              //-   br
              //-   select#role.select-drpdwn(name='role' readonly value='Agricultural Officer')
              //-     option(value='notspecified')  
              //-     option(value='agriculturalofficer') Agricultural Officer
              .frmelement
                label(for='role') Role:
                br
                input#role.agricofficerinput(type='text', name='role' readonly value='Agricultural Officer')
              .frmelement
                label(for='uniquenum') Unique ID:
                br
                input#uniquenum.agricofficerinput(type='text', name='uniquenum')
              .frmelement
                label(for='fo-fname') First Name: 
                br
                input#for-fname.agricofficerinput(type='text', name='firstname')
              .frmelement
                label(for='fo-lname') Last Name:
                br
                input#fo-lname.agricofficerinput(type='text', name='lastname')
              .frmelement
                lable(for='sex') Sex:
                br
                input#male(type='radio', name='sex', value='male')
                | &nbsp;
                label(for='gender-male') Male  
                | &nbsp; &nbsp; &nbsp; &nbsp;
                input#female(type='radio', name='sex', value='female')
                | &nbsp;
                label(for='gender-female') Female
          .col-md-6
            .frmelement
              label(for='nin') NIN:
              br
              input#nin.agricofficerinput(type='text', name='nin')
            .frmelement
              label(for='phoneno') &#x1F4DE;Phone Number:
              br
              input#phoneno.agricofficerinput(type='text', placeholder='07xxXXXXXX', name='phoneno')
            .frmelement
              label(for='email') Email: 
              br
              input#email.agricofficerinput(type='email', name='email', placeholder='Enter Email')
            .frmelement
              label(for='farmer-one-pwd') Password: 
              br
              input.agricofficerinput(type='password', name='password')
            .frmelement
              label(for='frmDate') Date of Registration:
              br
              input#frmDate.agricofficerinput(type='text', name='DateOfReg', value='', readonly='')
          .col-md-12
            hr
            input#frm-btn-ao(type='submit', value='Sign up      📝')
            br
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js', integrity='sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa', crossorigin='anonymous')
    script(src='/js/date.js')