doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='bootstrap-css/css/bootstrap.css')
    link(rel='stylesheet' href='css/style.css')
    title Registration
nav.navbar.navbar-expand-lg.bg-light.pb-4
    .container-fluid
        a.navbar-brand(href='#' style='font-weight: bolder; font-size: 25px;') Ufarm
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link.active(aria-current='page' href='#') Home
                li.nav-item
                    a.nav-link(href='#') Link
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropdown
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href='#') Action
                        li
                            a.dropdown-item(href='#') Another action
                        li
                            hr.dropdown-divider
                        li
                            a.dropdown-item(href='#') Something else here
                li.nav-item
                    a.nav-link.disabled Disabled
            form.d-flex.mt-2(role='search')
                a.btn.btn-style(href='home-page.html') Back
.container-fluid.form-style
    form#signup.form(action='/produce/available/?id='+item._id name='productupdate' method='POST')
        h3 Update Produce 
        hr
        .row
            .col
                .form-field
                    label(for='availability') Product Availability:
                    select(name='availability')
                        option(value="available" selected = item.availability === "available") Available
                        option(value="booked" selected = item.availability === 'booked') Booked
                        option(value="N/A" selected = item.availability === 'N/A') N/A


            .form-field
                input.btn.register-btn(type='submit' value='Register')
script(src='bootstrap-js/js/bootstrap.bundle.js')
