extends dashlayout
block content
  .container
        .row
          .col
            .divtopmargin
              h1  Urban Farmer Dashboard
          .row
            .col-3.create 
              a(href='/ufarmerupload', target='_blank') Upload Produce
            .col-3.read Read
            .col-3.update Update
            .col-3.delete Delete