extends dashlayout
block content
  .container
        .row
          .col
            .divtopmargin
              h1  Farmer One Administration Dashboard
          .row
            .col-3.create Create
            .col-3.read Read
            .col-3.update Update
            .col-3.delete Delete