extends dashlayout
block content
  .container
        .row
          .col
            .divtopmargin
              h1  Urban Farmer Dashboard
          .row
            .col-3.create Create
              br
              a(href='/ufarmerupload', target='_blank') Upload Produce
            .col-3.read Read
              br
              a(href='/productlist', target='_blank') View Product list
            .col-3.update Update
            .col-3.delete Delete/productlist