doctype html
html
  head
    title LINKS

  body
    hr
    a(href='/login', target='_blank') LOGIN

    h3 AGRICULTURAL OFFICER ROUTES
    a(href='/registerao', target='_blank') Registration
    h3 FARMER ONE ROUTES
    a(href='/registerfo', target='_blank') Registration

    h3 URBAN FARMER ROUTES
    a(href='/ufregister', target='_blank') Registration
    br
    br
    a(href='/uf-dash', target='_blank') Dashboard
    br
    br
    a(href='/ufarmerupload', target='_blank') Upload Produce
    br
    br
    a(href='/productlist', target='_blank') Product List
    br
    br
    h3 OTHER
    a(href='/seeapprovedlist', target='_blank') Approved Products List

    

    