extends registerlayout
block content
    form#frmborder(action='/login' name='urbanfarmerlogin' method="POST")
      h3.center-div You are Welcome! Please Login.
      .container-fluid
        .row
          .col-sm-12.regfrmborderao
            .loginfrmdiv
              label(for='uniquenum') Unique ID:
              br
              input#uniquenum.agricofficerinput(type='text', name='uniquenum')
            .loginfrmdiv
              label(for='farmer-one-pwd') Password: 
              br
              input.agricofficerinput(type='password' name='password')
            div
              input#frm-btn-ao(type='submit' value='LogIn')
              br