extends registerlayout
block content
      .container
        .row
          .col
            .confirmpg
              h3 Success‼ 💯 🤩
              hr
              .frmelement
                h5 Your order has been successfully placed!
              .frmelement
                a#report-btn-update.btn.frmelement2(type='button' href='/indexdash' value='Close') Close
            script(src='bootstrap-js/js/bootstrap.bundle.js')
