extends layout2
block content
    header.card-header
        br
        h2 Product List
    br
    nav
    //- #nav-tab.nav.nav-tabs(role='tablist')
        //- a#nav-profile-tab.nav-item.nav-link(href='/registerFarmerOne') Register FarmerOne
    #nav-tabContent.tab-content
    br
    .col-md-8(style='')
        if poultryGoods.length
            each product in poultryGoods
                if product.status == "Pending"
                    .card.mycardimensions
                        img(src="/"+product.productimage, alt="Image" width='150px' height="150px") 
                        .card-body
                            h6.card-title
                                p.card-text
                                Name #{product.productname}
                                br
                                UGX UGX #{product.unitprice}
                                a.btn.btn-primary.my-btn-primary.my-btn(href='#') Order

block footer
    div.col-md-12 ©️ 2022 UFARM Masajja Tukolerewamu Incorporated
