/*carousel image resizing*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
}

body {
    background-color: white;
    background-image: url("/images/dbg1.webp");
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }

.carousel-inner{
    height: 150px;
}

.item, img{
    height: 100% !important;
    width:  100% !important;
    /* border: 1px solid red; */
}

.ul-lst-grp-item:hover {
    background-color: #EEF9FA;
}

.mycardimensions {
    width: 11.3rem;
    margin: 10px;
}

.card-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    text-align: center;
    font-size: 0.7rem;
}

.card-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:0.8rem;
    font-weight: bold;
    text-align: right;
}

.my-btn-primary {
    color: #fff;
    background-color: #5fb95e;
    border: none;
    width: 8rem;
  }
  
.my-btn:hover {
    background-color: darkgreen;
}

  .card {
    float:left;
  }

.my-footer {
    height:80px;
    background-color: rgb(2, 2, 58);
    color:grey;
}

.center-div {
    display:flex;
    align-items: center;
    justify-content: center;
}
/* table cells right padding*/
.table1-cell {
    border-right:1px solid darkslategrey;
    padding-right: 2rem;
}

/*table cells left padding*/
.table2-cell {
    padding-left: 2rem;
}
footer a {
    color:gray;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.modal-header {
    background-color: rgb(4, 6, 59);
    color:white;
}

.agricofficerinput {
    width: 300px;
    height: 30px;
    background-color: rgba(233, 229, 229, 0.814);
    border:0;
    align-items:center;
    margin-left: auto;
    margin-right:auto;
}
.modal-body {
    margin-left: auto;
    margin-right: auto;
}

label {
    margin-left: auto;
    margin-right:auto;
}
.agricofficerinput:focus {
    outline:none;
    background-color: white;
}

.agricofficerinput:hover {
    box-shadow: 3px 5px 5px 3px slategrey;
}

#frm-btn-ao {
    background-color: #5fb95e;
    color: white;
    width: 50%;
    height: 30px;
    border: 0;
    border-radius: 0 10px 0 10px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
}

.select-drpdwn {
    width: 300px;
    height: 30px;
    background-color: rgba(233, 229, 229, 0.814);
    text-align: left;
    outline: none;
    border: 0;
}

.select-drpdwn:hover {
    box-shadow: 3px 5px 5px 3px slategrey;
}

.textarea1 {
    width: 300px;
    outline: none;
    border: 0;
    background-color: rgba(233, 229, 229, 0.814);

}

.textarea1:hover {
    box-shadow: 3px 5px 5px 3px slategrey;
}

#frm-btn-ao:hover {
    background-color: rgb(4, 6, 59);
}

.modal-footer {
    font-size: 10px;
    display:block;
    text-align: center;
}

.regfrmborder {
    margin-top: 20px;
    border: 1 solid rgb(92, 90, 90);
    box-shadow: 10px 20px 20px 10px slategrey;
    border-radius: 0 20px 0 20px;
    padding-left: 3rem;
}
.regfrmborderao {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1 solid rgb(92, 90, 90);
    box-shadow: 10px 20px 20px 10px slategrey;
    border-radius: 0 20px 0 20px;
    padding-left: 3rem;
    width: 750px;
}
#frmDate {
    width: 300px;
    background-color: rgba(233, 229, 229, 0.814);
    border: 0;
}

#frmDate:focus {
    outline: none;
}

#sex:hover {
    box-shadow: 3px 5px 5px 3px slategrey;
}

.frmelement {
    margin-bottom: 1rem;
}

.loginfrmdiv {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align: center;
}

.frmborder {
    border: 5px solid green;
}